html {
  height: 100%;
  width: 100%;
}

nav {
  display: grid;
  place-items: center; /* Centers items both horizontally and vertically */
}

nav ul {
  list-style-type: none; /* Removes default list styles */
  padding: 0;
}

nav ul li {
  display: inline-block; /* Display items horizontally */
  margin-right: 10px; /* Adjust spacing between items */
  place-items: center;
}
